runs
logs
.git
__pycache__
.mypy_cache
.ruff_cache
.pytest_cache
.tox
*.egg-info
*.venv
.venv
.tests/mnist/.torch_venv_*
.tests/mnist/.tests
.tests/orchestrator_tests.bin
.tests/test_wronggoing_stuff.bin
.coverage.*
*.swp
.DS_Store
