mypydie
sqlalchemy
setuptools
wheel
multidict
numpy
python-dateutil
tqdm
ax-platform
art
tzlocal
Rich
sixel
scikit-learn
submitit
matplotlib
seaborn
pytz
psutil
coverage
cowsay
beautifulsoup4
emoji
html5lib
lxml
toml
beartype
pyyaml
pyspellchecker
pyfiglet
setuptools
pyright
tabulate
optuna
