body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
}

tt {
	font-size: 16px;
}

th {
	background-color: blue;
	color: white;
}

.parameter {
	border-style: double;
	border-width: 1px;
	/*width: 700px;*/
}

.parameter_input {
	/*min-width: 300px;*/
	width: 95%;
}

#config {
	font-size: 0.7em;
	max-width: 600px;
	/*min-width: 600px;*/
	white-space: pre-wrap;
	overflow: scroll;
}

#sbatch {
	font-size: 0.7em;
	max-width: 600px;
	/*min-width: 600px;*/
	white-space: pre-wrap;
	overflow: scroll;
}

.errors {
	/*min-width: 590px;*/
	max-width: 49%;
}

table td, table td * { vertical-align: top; margin: 5px; }

.token.comment {
	color: red !important;
}

#bashcommand {
	background-color: #2d2d2d;
	max-width: 400px;
	overflow: scroll;
	white-space: pre-wrap;
	font-size: 0.7em;
}

#configtable {
	/*min-width: 400px;*/
	max-width: 500px;
}

#parameters {
	/*max-width: 600px;*/
	/*min-width: 600px;*/
}


.helpicon {
	cursor: help;
}

#configiniparser {
	display: none;
}

#configini {
	width: 500px;
	height: 800px;
}
