.marked_text {
	background-color: yellow;
}

.time_picker_container {
	font-variant: small-caps;
	width: 100%;
}

.time_picker_container > input {
	width: 50px;
}

#loader {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.no_linebreak {
	line-break: auto;
}

h2 {
	margin: 0;
	padding: 0;
}

body {
	font-family:  Verdana, sans-serif;
}

.dark_code_bg {
	background-color: #363636;
	color: white;
}

.code_bg {
	background-color: #C0C0C0;
}

#commands {
	line-break: anywhere;
}

.color_red {
	color: red;
}

.color_orange {
	color: orange;
}

#hidden_config_table > tbody > tr:nth-child(odd) {
	background-color: #fafafa;
}

#hidden_config_table > tbody > tr:nth-child(even) {
	background-color: #ddd;
}

#hidden_config_table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 200px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#hidden_config_table thead tr {
	background-color: #4eae46;
	color: #ffffff;
	text-align: left;
}

#hidden_config_table tbody tr:last-of-type {
	border-bottom: 1px solid #36A9AE;
}

#hidden_config_table tbody tr {
	border-bottom: 1px solid #dddddd;
}

#config_table {
	width: 100%;
}

#config_table > tbody > tr:nth-child(odd) {
	background-color: #fafafa;
}

#config_table > tbody > tr:nth-child(even) {
	background-color: #ddd;
}

#config_table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 200px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#config_table thead tr {
	background-color: #4eae46;
	color: #ffffff;
	text-align: left;
}

#config_table tbody tr:last-of-type {
	border-bottom: 1px solid #4eae46;
}

#config_table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.error_element {
	background-color: #e57373;
}

button {
	margin: 5px;
	background-color: #4eae46;
	border: 1px solid #2A8387;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 100%;
	outline: 0;
	padding: 11px 15px 12px;
	text-align: center;
	transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

button:hover {
	box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
	text-decoration: none;
	transition-duration: .15s, .15s;
}

button:active {
	box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

button:disabled {
	cursor: not-allowed;
	opacity: .6;
}

button:disabled:active {
	pointer-events: none;
}

button:disabled:hover {
	box-shadow: none;
}

select {
	width: 98%;
}

.remove_parameter {
	background-color: #f1807e !important;
	background-image: linear-gradient(#db4a44, #f24f49);
	border: 1px solid #db4a44;
}

.half_width_td {
	vertical-align: baseline;
	width: 50%;
}

#scads_bar {
	width: 100%;
	min-height: 80px;
	margin: 0;
	padding: 0;
	user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Allgemeine Stile für alle Tabs */
.tab {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border-radius: 25px;
	text-decoration: none !important;
	transition: background-color 0.3s, color 0.3s;
}

/* Inaktiver Tab */
.inactive_tab {
	background-color: #f0f0f0;
	color: #555;
	border: 2px solid #ddd;
}

.inactive_tab:hover {
	background-color: #e0e0e0;
	color: #444;
}

/* Aktiver Tab */
.active_tab {
	background-color: #4CAF50;
	color: white;
	border: 2px solid #4CAF50;
}

.active_tab:hover {
	background-color: #45a049;
}

.tooltipster-base {
	border: 1px solid black;
	position: absolute;
	border-radius: 8px;
	padding: 2px;
	color: white;
	background-color: #61686f;
	width: 70%;
	min-width: 200px;
}

td {
	padding-top: 3px;
	padding-bottom: 3px;
}

.left_side {
	text-align: right;
}

.right_side {
	text-align: left;
}

.spinner {
	border: 8px solid rgba(0, 0, 0, 0.1);
	/* Light mode spinner color */
	border-left: 8px solid #3498db;
	/* Spinner color */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#spinner-overlay {
	-webkit-text-stroke: 1px black;
	white !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

#spinner-container {
	text-align: center;
	color: #fff;
	display: contents;
}

#spinner-text {
	font-size: 3vw;
	margin-left: 10px;
}

a, a:visited, a:active, a:hover, a:link {
	text-decoration: underline dotted;
	color: black;
}

.copy-container {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-left: 10px;
	font-size: 0.9em;
	color: blue;
}

.copy-container:hover {
	text-decoration: underline;
}

.clipboard-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 1.5em;
}

#main_tab {
	overflow: scroll;
	width: fit-content;
}

.ui-tabs .ui-tabs-nav li {
	user-select: none;
}

.stacktrace_table {
	background-color: black !important;
	color: white !important;
}

#breadcrumb {
	user-select: none;
}

#statusBar {
	user-select: none;
}

.error_line {
	background-color: red !important;
	color: white !important;
}
