#down-arrow, #up-arrow {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #1e1e1e;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s, transform 0.2s;
  padding: 5px 0 5px 0.71rem;
  cursor: pointer;
  font-family: Inter, sans-serif;
}

#down-arrow:hover, #up-arrow:hover {
  background-color: #2a2a2a;
  transform: translateY(2px);
}
